

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

#todoList label{
  width: 80%;
}
#todoList li{
  list-style-type: none;
}
.completed{

}
.uncompleted label{
  color: #afa7a7;
  text-decoration: line-through;
}
#todoList .btn{
  margin-left: 10px;
}

.buttonContainer button + button{
  margin-left: 10px;
}